// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

// Define fonts for body and headers
$body-font: "font-family: 'Source Sans Pro', sans-serif";
$headers-font: "font-family: 'PT Sans Narrow', sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }

h1, h2, h3 {
  margin: 0px !important;
  font-family: 'Source Sans Pro', sans-serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}


// Icons
@import url('https://css.gg/arrow-left.css');
@import url('https://css.gg/math-plus.css');
@import url('https://css.gg/trash.css');
@import url('https://css.gg/add-r.css');
@import url('https://css.gg/eye.css');

#pin {
  font-size: 15px;

}
