<% journey = current_user.journeys.empty? ? Journey.create(user: current_user) : current_user.journeys.last %>
<a href="<%= journey_path(journey) %>" class="btn journey-button">
  My Journey
  <% if journey.venues.count > 0 %>
    <p id="journey-notification">
      <%= journey.venues.count %>
    </p>
  <% end %>
</a>
