.picture-of-city {
  text-align: center;
  position: relative;
  width: 100%;
  height: 200px;
  justify-content: center;
  contain: content;
}

.picture-of-sights {
  width: 20%;
  height: 50px;
  justify-content: center;
}
