.city-show-card-country-name {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 0 0.5px #D3D3D3;
  font-size: small;
  font-weight: 500;
}

#city-country-name {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#city-description-header {
  margin-top: 16px;
  font-size: 24px;
}

.city-show-card-city-name {
  text-shadow: 0 2px rgba(211, 211, 211, 0.1);
  position: absolute;
  bottom: 0px;
  left: 12px;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.category-cards-container {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.category-card {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 24vh;
  padding: 16px 0;
  background-color: #445C3C;
}

.venue-mini {
  // height: 88px;
  width: 72px;
}

.fill {
  display: flex;
  justify-content: space-between;
  width: 90px;
  height: 90px;
  padding: 0;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0.5px #D3D3D3;
  font-weight: 900;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


.city-card-image {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 8px;
}

.city-card-image-small {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.city-show-card-country-name {
  position: absolute;
  bottom: 0;
  font-size: small;
  font-weight: 500;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}
// .fill img {
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%
// }

.city-show-card-city-name-small {
  margin-top: 8px;
  padding: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.city-show-venues-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-height: 47vh;
  overflow: scroll;
  // overflow: scroll;
  // height: 30vh;
}
