.floating-button {
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

// .floating-button p {
//   font-size: 150%;
// }

#homepage-map-button {
  background-color: #445C3C;
  position: fixed;
  bottom: 24px;
  transition: 0.05s;
  border-radius: 16px;
  color: white;
  font-weight: 900;
  // box-shadow: 0 0 8px rgba(0,0,0,0.2);
  // box-shadow: rgba(0, 0, 0, 0.09) 0px -3px 5px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.25) 0px 54px 55px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 22%;
}

.homepage-map-raised {
  bottom: 45vh !important;
}

// #homepage-map-button:hover {
//   transform: scaleX(1.15);
//   transform: scaleY(1.05);
// }

#preview-map-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #445C3C;
  transition: 0.3s;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.instructions-holder {
  bottom: 0%;
  height: fit-content;
}

.internal-container {
  position: relative;
  background: transparent;
}
