// .map-border {
//   border-width: 1px;
//   border-style: solid;
//   border-color: #6F594D;
//   border-radius: 5px;
// }

.map {
  border-radius: 5px;
}

.mapboxgl-popup img {
  max-width: 150px;
  height: 125px;
  border-color: #445C3C;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  height: 200px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-color: #445C3C;
  border-width: 1px;
  border-style: solid;
  background-color: #FAF9F6;
  border-radius: 5px;
  width: 200px;
}

.mapboxgl-popup {
  width: 500px;
  height: 300px;
}

.mapboxgl-map {
  height: 100%;
}

body {
  background-color: #FAF9F6;
}

#instructions {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: #FAF9F6;
  overflow-y: scroll;
  // height: 40%;
}
