// .map-border {
//   border-width: 1px;
//   border-style: solid;
//   border-color: #6F594D;
//   border-radius: 5px;
// }

// .map {
//   border-radius: 5px;
// }

.mapboxgl-popup img {
  max-width: 150px;
  height: 125px;
  border-color: #445C3C;
  border-width: 1px;
  border-style: solid;
}

.mapboxgl-popup-content {
  height: 200px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-color: #445C3C;
  border-width: 1px;
  border-style: solid;
  background-color: #FAF9F6;
  width: 200px;
}

.mapboxgl-popup {
  width: 500px;
  height: 300px;
}

.mapboxgl-map {
  height: 100%;
}

body {
  background-color: #FAF9F6;
}

#instructions {
  position: absolute;
  max-height: 75vh;
  width: 100%;
  bottom: 0;
  padding: 0;
  background-color: #FAF9F6;
  overflow-y: scroll;
  // height: 40%;
}

#directions {
  border-radius: 5px;
  padding: 20px;
  font-size: 19px;
  font-weight: 100 !important;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 10px 10px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
  margin: 10px 0;
  align-items: center;
}

#directions:first-child {
  margin-top: 0;
}

#directions span {
  min-width: 65px;
  min-height: 30px;
  font-size: 29px;
  margin-right: 10px;
}

#header {
  padding: 30px;
  font-size: 24px;
  font-weight: 900;
  background-color: #445C3C;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: sticky;
  top: 0;
}
