// .map-border {
//   border-width: 1px;
//   border-style: solid;
//   border-color: #6F594D;
//   border-radius: 5px;
// }

.map {
  border-radius: 5px;
}

.mapboxgl-popup img {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-color: #6F594D;
  border-width: 1px;
  border-style: solid;
  background-color: #FDF6F0;
  border-radius: 5px;
}

.mapboxgl-popup {
  width: 500px;
  height: 300px;
}

.mapboxgl-map {
  height: 100%;
}
