// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
// @import "navbar";
@import "venue_journey_card";
@import "user_card";
@import "city_show";
@import "venue_show_card";
@import "homepage_map";
@import "floating_button";
@import "homepage_venue_card";
@import "journey_index_card";
@import "journey_show_card";
@import "search_bar";
@import "new_navbar";
@import "direction_button";
@import "mapbox";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Space+Mono&display=swap');


body {
  background-color: #FAF9F6;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
