// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
// @import "navbar";
@import "venue_journey_card";
@import "user_card";
@import "city_view";
@import "venue_show_card";
@import "homepage_map";
@import "floating_button";
@import "homepage_venue_card";
@import "journey_index_card";
@import "journey_show_card";
@import "new_navbar";
@import "direction_button";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Space+Mono&display=swap');


body {
  background-color: #FAF9F6;
}
