.journey-venue-image {
  height: 100%;
}

.journey-button {
  background-color: #445C3C;
  border-radius: 5px;
  font-weight: 900;
}

#journey-reject-venue {
  padding: 12px;
  font-weight: 900;
  color: white;
  border-radius: 5px;
  background-color: #990000;
  border-color: #FF5B00;
  font-size: 12px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

#journey-preview {
  padding: 12px;
  font-weight: 900;
  color: white;
  border-radius: 5px;
  background-color: #445C3C;
  border-color: #62978E;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  margin-left: 16px;
}

// #journey-button-holder {
//   // position: relative
// }

.journey-venue-card-description {
  width: 55%;
  height: 100%;
  padding-left: 16px;
  position: relative;
}

.stick-bottom {
  // position: absolute;
  bottom: 0;
}
