.navbar-lewagon {
  justify-content: space-evenly;
  background: #445C3C;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-lewagon h2 {
  color: white;
  font-weight: 900;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  width: 30px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.nav-right {
  justify-content: center;
  align-items: center;
}
