.user-card {
  width: 500px;
  height: 800px;
  margin: 0px auto;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 16px;
  text-align: center;
}

.user-avatar {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.user-info {
  text-align: left;
}
