.journeys-container {
  height: 90.5vh;
  position: relative;
}

.journey-header {
  text-align: center;
  padding: 8px;
  margin-top: 8px;
}

.venue-journey-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  padding: 16px;
}

.venue-show-card-image {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 8px;
}

.venue-card-image-header {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 0 0.5px #D3D3D3;
  font-size: small;
  font-weight: 500;
  width: 100%;
}

.venue-card-description {
  width: 55%;
  padding-left: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
}

.venue-card-description-header {
  font-size: large;
  font-weight: bold;
}

.venue-card-description-body {
  font-size: medium;
  font-weight: 300;
}

#main-button {
  position: fixed;
  bottom: 24px;
  background-color: #445C3C;
  color: white;
  font-weight: 900;
  padding: 16px;
  width: 75%;
  border-radius: 5px;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.trash{
 color: #445C3C;
 font-size: 21px;
 margin-left: 8px;
 margin-bottom: 0px;
}
