.show-container {
  padding: 0;
  margin: 0 auto;
  height: 92.86vh;
}

.venue-show-card {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.venue-description-container {
  width: 100%;
}

.venue-image-container {
  position: relative;
  // width: 100%;
  // height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#accept-venue {
  // font-size: 75%;
  //line-height: 100%;
  // text-shadow: 0 0.5px #D3D3D3;
  // display: flex;
  // align-items: center;
  padding: 16px;
  font-weight: 900;
  color: white;
  // max-width: 40%;
  border-radius: 5px;
  background-color: #445C3C;
  border-color: #62978E;
  position: fixed;
}

#reject-venue {
  // font-size: 75%;
  //line-height: 100%;
  // text-shadow: 0 0.5px #D3D3D3;
  // display: flex;
  // align-items: center;
  padding: 16px;
  font-weight: 900;
  color: white;
  // max-width: 40%;
  border-radius: 5px;
  background-color: #990000;
  border-color: #FF5B00;
  position: fixed;
}

#accept-venue:active {
  transform: scale(1.3);
  transform: scale(1.3);
}

#venue-button-container {
  max-width: 100vw;
  padding: 24px 8px;
  position: sticky;
  bottom: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.venue-show-card-venue-name {
  text-shadow: 0 2px rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  left: 12px;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.venue-show-card-city-name {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: large;
}

#country {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: large;
}

.venue-description-container {
  padding: 8px 16px 0 16px;
}


.venue-photo {
  width: 100vw;
}

.venue-card-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 8px;
    // background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1),rgba(245, 246, 252, 0.3),rgba(82, 82, 82, 0.7)),
    //                   url(https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg);
    // height: 50px;
    // weight: 45px;
}

.placeholder-img {
  width: 100%;
}
