<div class="city-container">
  <div class="city-card">
      <img class="picture-of-city" src="https://a.cdn-hotels.com/gdcs/production27/d274/43014cca-c88c-4061-ace8-58edc24531ee.jpg?impolicy=fcrop&w=800&h=533&q=medium" alt="London">
      <h1><%= @city.name %></h1>
  </div>
    <div class="city-description">
      <h2><%= @city.description %></h2>
    </div>
      <div class="city-sights">
        <h3> Sights </h3>
        <img class="picture-of-sights" src="https://image.cnbcfm.com/api/v1/image/105349189-1532444279996gettyimages-469465519.jpg?v=1532444893&w=1920&h=1080">
        <h3> Bars </h3>
        <img>
        <h3> Rooftops </h3>
        <img>
        <h3> Tourist hotspots </h3>
        <img>
      </div>
</div>

<% if @city.photos.attached? %>
  <% @city.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
  <% end %>
<% else %>
  <%= image_tag "https://res.cloudinary.com/wvala/image/upload/v1653657110/nxr4ymq5mgmmfmwflkqv.jpg" %>
<% end %>
