<div class="city-container">
  <div class="city-card">
    <img>
    <h1><%= @city.name %></h1>
  </div>
    <div class="city-description">
      <h2><%= @city.description %></h2>
    </div>
      <div class="city-venues">
        <h3> Sights </h3>
        <img>
        <h3> Bars </h3>
        <img>
        <h3> Rooftops </h3>
        <img>
        <h3> Tourist hotspots </h3>
        <img>
      </div>
</div>
