<div class="container journeys-container p-0 mt-3">
  <div class="journey-header">
  </div>
  <% @journeys.each do |journey| %>
      <% journey.venues.each do |venue|%>
        <div class="journey-card">
          <div class="journey-card-image" style="">
            <p class="journey-card-image-header"><%= "#{journey.description}'s view from front"%></p>
          </div>
          <div class="journey-card-description">
            <p class="journey-card-description-header"><%= venue.name.capitalize %></p>
            <p class="journey-card-description-body"><%= venue.description %></p>
            <div class="d-flex">
              <a href="#" class="btn btn-success">View Journey</a>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
