
<div class="container journeys-container p-0 m-0">
  <div class="journey-header">
  </div>
  <% @journey_venues.each do |venue| %>
    <div class="venue-journey-card">
      <div class="venue-card-image" style="">
        <p class="venue-card-image-header"><%= "#{venue.name.capitalize}'s view from front" %></p>
      </div>
      <div class="venue-card-description">
        <p class="venue-card-description-header"><%= venue.name.capitalize %></p>
        <p class="venue-card-description-body"><%= venue.description %></p>
        <div class="d-flex">
            <%= link_to "journey-preview", preview_path(@journey), class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<a href="#" class="btn btn-success w-100 rounded" id="main-button">Confirm</a>
